body {
	font-family: 'Merriweather', serif;
	font-weight: lighter;
	background-color: #ffc0c2;
}
header, footer {
	background-color: #ddfbfa; }
	header div, footer div {
	  display: flex;
	  justify-content: space-between;
	  align-items: center;
	  padding: 1.5rem;
	  transition: 1s; }
	  header div a, footer div a {
		font-family: "Montserrat", sans-serif;
		text-decoration: none;
		font-size: 24px;
		font-weight: bold;
		color: #1b1c1c;
		margin: 5px; }
	  header div a:hover, footer div a:hover {
		margin: 5px;
		font-family: "Montserrat", sans-serif;
		text-decoration-line: underline;
		font-weight: bold;
		color: #3ea968; }
	header nav ul, footer nav ul {
	  margin: 0px;
	  padding: 0px;
	  list-style: none; }
	  header nav ul li, footer nav ul li {
		display: inline-block; }
		header nav ul li a, footer nav ul li a {
		  display: block;
		  padding: 0.5rem 1rem;
		  text-decoration: none;
		  color: #1b1c1c;
		  margin: 5px;
		  font-weight: bold; }

h1,h2 {
	font-family: 'Oswald', sans-serif;
}
.sectionCabezera {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.section1 {
	display: grid;
	grid-template-columns: 1fr 3fr;
	grid-template-rows: 2fr 1fr;
	grid-template-areas: "box1 box2" "box3 box2";
}
.imagen1 {
	grid-area: box1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 2px;

}

.texto1 {
	grid-area: box2;
}

.boxcontainer1 {
	grid-area: box3;
}

.juego1 , .juego2 {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.section2 {
	display: grid;
	grid-template-columns: 3fr 1fr;
	grid-template-rows: 2fr 1fr;
	grid-template-areas: "box5 box4" "box5 box6";

}
.imagen2 {
	grid-area: box4;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 2px;
}

.texto2 {
	grid-area: box5;
}

.boxcontainer2 {
	grid-area: box6;
}